body{
box-sizing: border-box;
font-size: 1em;
margin: 0 auto;
padding: 0;
background:#f5f5f5!important;
line-height: 1.25em;
width:100%;
height:auto;
}

.thead-default th {
    background-color: #FBE9E1!important;
}

.jumbotron {
  background-color:transparent !important;
}

th {
  font-weight:normal;
}

hr.my-4 {
  color:#FFF!important;
}
:any-link {
    cursor: pointer;
}

.container-site {
   max-width: 1170px;
   margin: 0 auto;
   padding: 0 10px;
 }

 .container:after {
   content: "";
   clear: both;
   display: block;
 }
/* MENU */

#header {
background-color: #fff;
width: 100%;
top: 0;
}

.menu{
width: 90%;
margin: auto;
display: flex;
flex-direction:row;
justify-content: space-between;
align-items: center;
}

.logo{
display: inline-block;
margin: 1em 0 1em 0;
}

.btn-menu{
display: none;
color: #ddd;
text-decoration: none;
font-size: .9em;
align-self: center;
margin-right: 1em;
}

.menu .navigation_menu{
display: inline-block;
text-align: right;
font-family: 'Montserrat', sans-serif;
}
a{
color: #666!important;
text-decoration: none;
display: inline-block;
font-size:.8em;
text-align: center;
padding: 1em;
font-weight:500;
letter-spacing:1pt;
}
a:hover{
color:rgb(123, 198, 188);
}
i{
margin: 5px;
}

img {
width: 100%;
max-width: 200px;
}

.container-articles{
display:flex;
justify-content: center;
}

.article_content {
background: #fff;
border-radius: 10px;
margin: 2em 1em;
padding: 0 0.2em 0 0.2em;
font-size:.9em;
}
p{
padding: 0.5em 0.8em 0.5em 0.8em;
color: #444;
font-family: 'Varela Round', sans-serif;
}
h2{
font-size:1em;
font-weight:500;
text-align: center;
color: #444;
font-family: 'Montserrat', sans-serif;
letter-spacing: 0.1em;
}
hr{
margin-bottom: 1em;
height: 1.5px;
border: none;
background: #EEE;
}

.footer {
margin: 1em auto;
color: #555;
padding: 1em 2em;
font-size:.75em;
}

@media all and (min-width:0px){
    .cards, .container-articles{
        flex-flow:row wrap;
    }
    .card{
        width:100%;
    }
}
@media all and (min-width:480px){
    .cards, .container-articles{
        flex-flow:row wrap;
    }
    .card{
        width:45%;
    }
    .article_content{
        width: 90%;
    }
}
@media all and (min-width:930px){
    .cards{
        flex-flow:row wrap;
    }
    .card{
        width:23%;
    }
     .article_content{
        width: 46%;
    }
}
@media all and (max-width:780px){

    #header .menu {
        flex-direction: column;
    }
        .logo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: flex-start;
    }
           img{
            min-width: 150px;
            }
          .btn-menu{
            display: inline-block;
            }
       .navigation_menu {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
          .navigation_menu a:hover {
          background-color: #2C4643;
          color: #FFF;
          }
        }
@media all and (max-width:1920px){

.menu {
    text-align: center;
}
}
